.pokemon-search-wrapper {
  width: 500px;
}

.pokemon-search-wrapper input {
  width: 100%;
  height: 20px;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border-radius: 6px;
}

@media (max-width: 1000px) {
  .pokemon-search-wrapper {
    width: 100%;
  }
  .pokemon-search-wrapper input {
    font-size: 0.9rem;
  }
}
